h1 {
    text-align: center;
    font-style: italic;
}
h2 {
    text-align: center;
}
h4 {
    text-align: center;
}
a {
    color: #33CC99;
}
body {
    font-family: 'helvetica', sans-serif;
}
p {
    font-size:13px;
    font-family: serif; 
}