h1 {
    text-align: center;
    font-style: italic;
}
h3 {
    color: lightgray;
}
h4 {
    text-align: center;
}
a {
    color: #33CC99;
}
body {
    font-family: 'helvetica', sans-serif; 
}
p {
    font-family: serif;
    font-size:13px;
}
ul {list-style-type: square;
}